@import url(http://weloveiconfonts.com/api/?family=brandico);

/*General rules*/

* {
    box-sizing: border-box;
}

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-family: "News Cycle", sans-serif;
}

h1 {
    font-size: 40px;
    color: #868889;
    line-height: 48px;
    display: inline;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    color: #999;
    line-height: 29px;
    padding: 10px 5% 0px 5%;
}

h3 {
    font-style: italic;
    font-size: 20px;
    color: #000;
    line-height: 22px;
}

h4 {
    font-weight: bold;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 17px;
}

h3,
h4,
h5 {
    padding: 10px 5%;
}

p {
    font-size: 14px;
    color: #333;
    line-height: 21px;
}

a {
    color: #1199c3;
    text-decoration: none;
    display: block;
}

.clear-fix {
    overflow: auto;
}

.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
}

.center-content {
    padding: 0 5%;
}

ul {
    list-style-type: none;
}


/*Header*/

.name-position {
    margin-bottom: -15px;
}

#topContacts li a {
    display: inline;
}

.blue-text {
    color: #1199c3;
}

.welcome-message {
    font-style: italic;
    font-size: 18px;
    color: #868889;
    line-height: 28px;
}

.biopic {
    float: left;
    padding: 10px;
    width: 200px;
    display: none;
}

img {
    padding: 10px;
}

span {
    padding: 5px;
}

#skills-h3 {
    color: #1199c3;
    display: none;
    padding-top: 25px;
    padding-bottom: 0px;
}

.skill-list {
    max-height: 200px;
}

#skills {
    padding: 0;
}

#proj-skills li {
    line-height: 15px;
}

#skills li button, #proj-skills li button {
    color: #868889;
    text-decoration: none;
    padding: 2px 15px 4px 15px;
    border: 2px solid #868889;
    border-radius: 25px;
    background-color: white;
    margin: 10px 15px;
}

#skills li button:hover, #proj-skills li button:hover {
    color: #62b0c6;
    border-color: #62b0c6;
}

/*Body*/

.project-skills {
    color: #868889;
    font-style: italic;
}

.date-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: left;
}

.location-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: right;
}

.project-entry {
    padding: 0 5%;
}

.project-entry a {
    margin-top: 10px;
    font-size: 17px;
}

.education-entry,
.work-entry,
.online-entry {
    padding: 0.5% 5%;
}

.work-entry p,
.education-entry p,
.online-entry p {
    font-size: 17px;
    color: #1199c3;
}

#education {
    margin-top: 25px;
}

.white-text {
    font-weight: bold;
    color: #433e3e;
}

.gray {
    background-color: #f3f3f3;
    padding-bottom: 10px;
    clear: both;
}

.dark-gray {
    background-color: #4a4a4a;
}

#education h3 {
    color: #999;
    padding: 0px 5%;
}

button:active,
button:focus,
button.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#map {
    display: block;
    height: 100%;
    margin: 0 5%;
}

#mapDiv {
    height: 400px;
    width: 100%;
    padding-bottom: 5%;
}

/*Footer*/

.footer-line {
    width: 30%;
    margin: 15px auto;
    border-bottom: 1px solid #7d97ad;
}

.social-link-list {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

[class*="brandico-"]:before {
    font-family: "brandico", sans-serif;
    font-size: 25px;
}

.social-link-list li {
    display: inline-block;
    width: 60px;
    text-decoration: none;
}

.social-link-list li a {
    color: #7d97ad;
    text-decoration: none;
}

.social-link-list li a:visited {
    text-decoration: none;
    color: #7d97ad;
}

.social-link-list li a:hover {
    text-decoration: none;
    color: #02b3e4;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
    #lets-connect {
        margin-top: 5%;
    };
}

@media only screen and (max-width:900px) {
    .biopic {
        width: 175px;
    };
}

@media only screen and (max-width: 750px) {
    .biopic {
        width: 150px;
    }

    .welcome-message {
        display: none;
    };
}

@media only screen and (min-width: 750px) {
    #skills-h3,
  .biopic {
        display: block;
    };
}