
/*General Styles*/


* {
	box-sizing: border-box;
}


body {
	font: 16px 'Open Sans Condensed', sans-serif;
}

/*Header*/

.title, .city {
	color: #f5f00c;
	font-family: 'Julius Sans One', sans-serif;
	padding-left: 0px;
	padding-right: 0px;
}

.city {
	border: 2px solid #f5f00c;
	font-size: 1.5em;
	padding: 4px 4px ;
}

.city-title {
	max-width: 550px;
}

.header-style {
	background-color: #6d777d;
	padding-bottom: 10px;
}

.sandwich {
	fill: #b8c3d7;
	height: 100px;
	width: 40px;
}

#berlin-logo {
	margin-top: 15px;
	max-width: 80px;
}


/*Style Menu*/

#menu {
	z-index: 10;
	background-color: #fff;
	width: 200px;
	position: absolute;
	/* This trasform moves the drawer off canvas. */
	-webkit-transform: translate(-350px, 0);
	transform: translate(-350px, 0);
	/* Optionally, we animate the drawer. */
	transition: transform 0.3s ease;
}

#menu.open {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

#menu {
	background-color: #aab1b5;
}

button {
	font-size: 18px;
}

button.accordion {
    background-color: #aab1b5;
    border: none;
    color: #444;
    cursor: pointer;
    outline: none;
    padding: 18px;
    text-align: left;
    transition: 0.4s;
    width: 100%;
}

button.accordion:after {
    color: #777;
    content: "\003E"; /* Unicode character for "plus" sign (+) */
    float: right;
    font-size: 15px;
    margin-left: 5px;
}

button.accordion.active {
	background-color: #7e8a91;
}

button.accordion.active:after {
	color: #ddd;
    content: "\2335"; /* Unicode character for "minus" sign (-) */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
  	border: 0px;
  	margin-top: -3px;
    background-color: #aab1b5;
    display: none;
    margin: 0px;
    padding: 20px 18px;
}

/*Styling the Filtering results*/

.filter-results {
	margin-bottom: 25px;
}

#filter-text, #zoom-to-area-text {
	min-height: 32px;
}

#apply-filter, #zoom-to-area {
	min-height: 26px;
	padding: 0px;
	width: auto;
}

.list-events {
	padding: 12px 0px;
}

.event-description {
	display: none;
	list-style-type: none;
	padding-left: 15px;
}

.event-description li {
	padding-top: 10px;
}

/*Time of Event*/

.slider {
	width: 293px;
}

.check-all-time {
	float: left;
	margin-right: 10px;
}

/*Events menu*/

.event-image {
	display: inline;
}

label {
	font-weight: normal;
}


/*Weather Box*/

#day {
	color: #577da6;
	font-size: 25px;
	font-weight: bold;
}

#forecast {
	color: #6a7379;
	font-style: italic;
	padding-top: 7px;
}

#high-temp {
	background: #f6c43e;
	border-radius: 6px;
	color: #a18128;
	font-weight: bold;
	margin-top: 7px;
	padding: 3px 7px 1px 7px;
}

#low-temp {
	background: #6e90e6;
	border-radius: 6px;
	color: #3A4D7A;
	font-weight: bold;
	margin-top: 7px;
	padding: 3px 10px 1px 10px;
}

.weather {
	background-color: rgba(255,255,255,0.7);
	border-collapse: separate;
	border-radius: 10px;
	border-spacing: 7px;
	left: 55%;
	padding: 7px;
	position: absolute;
	top: 10px;
	z-index: 99;
}

/*Styling Map*/

#wrapper {
	padding: 0px;
	position: relative;
}

#map{
    padding-bottom: 80%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
    position: relative;
    width: 100%;
}
#map > *{
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

#infowindow-title {
	font-weight: bold;
	text-align: center;
}


