
/*General Styles*/


* {
	box-sizing: border-box;
}


body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
}

/*Header*/

.title, .city {
	font-family: 'Julius Sans One', sans-serif;
	color: #F5F00C;
	padding-left: 0px;
	padding-right: 0px;

}

.city {
	font-size: 1.5em;
	padding: 4px 4px ;
	border-style: solid;
	border-width: 2px;
	border-color: #F5F00C;
}

.city-title {
	max-width: 550px;
}

.header-style {
	background-color: #6D777D;
	padding-bottom: 10px;
}

.sandwich {
	height: 100px;
	width: 40px;
	fill: #B8C3D7;
	display: none;
}

#berlin-logo {
	margin-top: 15px;
	max-width: 80px;
}


/*Style Menu*/

#menu {
	background-color: #AAB1B5;
}

button {
	font-size: 18px;
}

button.accordion {
    background-color: #AAB1B5;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

button.accordion:after {
    content: "\003E"; /* Unicode character for "plus" sign (+) */
    font-size: 15px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active {
	background-color: #7E8A91;
}

button.accordion.active:after {
    content: "\2335"; /* Unicode character for "minus" sign (-) */
	color: #ddd;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 20px 18px;
    background-color: #AAB1B5;
    display: none;
    margin: 0px;
  	border: 0px;
  	margin-top: -3px;
}

/*Styling the Filtering results*/

.filter-results {
	margin-bottom: 25px;
}

#filter-text, #zoom-to-area-text {
	min-height: 32px;
}

#apply-filter, #zoom-to-area {
	min-height: 26px;
	width: auto;
	padding: 0px;
}

.list-events {
	padding: 12px 0px;
}

.event-description {
	padding-left: 15px;
	display: none;
	list-style-type: none;
}

.event-description li {
	padding-top: 10px;
}

/*Time of Event*/

.slider {
	width: 293px;
}

.check-all-time {
	float: left;
	margin-right: 10px;
}

/*Events menu*/

.event-image {
	display: inline;
}

label {
	font-weight: normal;
}


/*Weather Box*/

#day {
	color: #577da6;
	font-size: 25px;
	font-weight: bold;
}

#forecast {
	padding-top: 7px;
	color: #6A7379;
	font-style: italic;
}

#high-temp {
	margin-top: 7px;
	background: #F6C43E;
	padding: 3px 7px 1px 7px;
	border-radius: 6px;
	color: #a18128;
	font-weight: bold;
}

#low-temp {
	margin-top: 7px;
	background: #6E90E6;
	padding: 3px 10px 1px 10px;
	border-radius: 6px;
	color: #3A4D7A;
	font-weight: bold;
}

.weather {
	position: absolute;
	top: 10px;
	left:45%;
	z-index: 99;
	background-color: rgba(255,255,255,0.7);
	padding: 7px;
	border-radius: 10px;
	border-spacing: 7px;
	border-collapse: separate;
}

/*Styling Map*/

#wrapper {
	position: relative;
	padding: 0px;
}

#map{
    position: relative;
    width: 100%;
    padding-bottom: 80%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
#map > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#infowindow-title {
	text-align: center;
	font-weight: bold;
}


