
@media screen and (max-width: 549px) {

	#map {
		padding-bottom: 100%;
	}

	.weather {
		display: none;
	}

}

@media (min-width: 550px) {

	#map {
		padding-bottom: 73%;
	}

	#menu {
		width: 250px;
	}
}

@media (min-width: 768px) {

	#map {
		padding-bottom: 55%;
	}

	.weather {
		left: 70%;
	}

	#menu {
		width: 270px;
	}
}

@media (min-width: 1000px) {

	#map {
		padding-bottom: 45%;
	}

	#menu {
		width: 300px;
	}

	.weather {
		left: 75%;
	}
}

@media (min-width: 1200px) {

	#map {
		padding-bottom: 40%;
	}

	#menu {
		width: 320px;
	}

	.weather {
		left: 80%;
	}
}



