@media screen and (max-width: 549px) {

  svg.sandwich {
    display: inline-block;
  }


	#menu {
    z-index: 10;
    background-color: #fff;
    width: 200px;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-350px, 0);
    transform: translate(-350px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
	}

  #menu.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  div.panel {

  }
}

@media (min-width: 768px) {
	.weather {
		left: 55%;
	}
}

@media (min-width: 1000px) {
	.weather {
		left: 60%;
	}
}

@media (min-width: 1200px) {
	.weather {
		left: 68%;

	}
}



