
@media screen and (max-width: 549px) {

	svg.sandwich {
		display: inline-block;
	}

	.weather {
		display: none;
	}
}

@media (min-width: 550px) {

	#menu {
		width: 250px;
	}
}

@media (min-width: 768px) {
	.weather {
		left: 70%;
	}

	#menu {
		width: 270px;
	}
}

@media (min-width: 1000px) {

	#menu {
		width: 300px;
	}

	.weather {
		left: 75%;
	}
}

@media (min-width: 1200px) {

	#menu {
		width: 320px;
	}

	.weather {
		left: 80%;
	}
}



